<form id="create_store" method="post" action="{{ url_for('admin.item_engine') }}" enctype=multipart/form-data
  onsubmit="showLoader()">
  {% if item_info['images'] %}
  {% set image_url = item_info['images'][0] %}
  {% endif %}
  <div class="form-row">
    <div class="form-group col-md-10">
      <label for="title">Nombre del producto (opcional)</label>
      <input class="form-control" type="text" placeholder="Introduce el nombre del producto" name="title"
        value="{{ item_info['title'] }}">
    </div>
    <div class="form-group col-md-2">
      <label for="position">Posición (opcional)</label>
      <input class="form-control" type="number" placeholder="" name="position"
        value="{{ item_info['position'] or '0'}}">
        <small id="position_prefixHelp" class="form-text text-muted">1 arriba, 999 abajo</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-1">
      <label for="picture">Imagen</label>
      <img style="max-height: 70px; max-width: 90px;"
        src="{{ image_url or 'https://img.utdstc.com/icons/almarcat-android.png:300' }}">
    </div>
    <div class="form-group col-md-3">
      <label for="picture">Cambiar imagen</label>
      <input type="file" class="form-control-file" id="picture" name="picture">
      <input name="url_image" id="url_image" value="{{ image_url }}" hidden>
    </div>
    <div class="form-group col-md-4">
      <label for="product_type_name">Tipo de producto (opcional)</label>
      <input class="form-control typehead" data-provide="typeahead" id="product_type_name" autocomplete="off"
        type="text" placeholder="Selecciona el tipo de producto" name="product_type_name"
        value="{{ item_info['product_type_name'] }}">
      <small id="product_category_prefixHelp" class="form-text text-muted">Elige un tipo de producto, se usará para
        colocar tus productos en <a href="https://www.almarcat.com/ofertas/cerveza">almarcat</a></small>
    </div>
    <div class="form-group col-md-4">
      <label for="product_category">Categoría del producto (opcional)</label>
      <input class="form-control" type="text" placeholder="Elige una categoría" name="product_category"
        value="{{ item_info['category'] }}">
      <small id="product_category_prefixHelp" class="form-text text-muted">Usa las categorías para organizar tus
        productos como quieras</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="price_now">Precio ahora (opcional)</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">€</div>
        </div>
        <input class="form-control" type="number" id="price_now" name="price_now" min="0" step="0.01" placeholder="0.00"
          value="{{ item_info['price_now'] }}">
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="price_before">Precio antes (opcional)</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">€</div>
        </div>
        <input class="form-control" type="number" id="price_before" name="price_before" min="0" step="0.01"
          placeholder="0.00" value="{{ item_info['price_before'] }}">
      </div>
      <small id="urlHelp" class="form-text text-muted">Este precio saldrá tachado junto al precio actual</small>
    </div>
  </div>
  <div class="form-row">
    <label for="description">Descripción (opcional)</label>
    <textarea class="form-control" name="description" id="description" rows="4"
      placeholder="Descripción de producto">{{ item_info['description'] }}</textarea>
    <small id="phone_country_prefixHelp" class="form-text text-muted">También puedes añadir emojis. <a
        href="https://emojipedia.org/" target="_blank">aqui</a> tienes una lista!</small>

  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="url">Link al producto (opcional)</label>
      <input class="form-control" id="url" name="url" value="{{ item_info['url'] }}">
      <small id="urlHelp" class="form-text text-muted">Añade un enlace para añadir un botón en el producto</small>
    </div>
  </div>
  <input name="id" id="id" value="{{ item_info['id']  }}" hidden>
  <input name="store_code_name" id="store_code_name" value="{{ item_info['store_code_name'] }}" hidden>
  <input name="product_type_id" id="product_type_id" value="{{ item_info['product_type_id'] }}" hidden>
  <input name="method" id="method" value="{{ method }}" hidden>
  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <button type="submit" class="btn btn-success">Guardar</button>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="is_enabled" name="is_enabled" value="1" checked>
      <label class="custom-control-label" id="is_enabled_label" for="is_enabled"></label>
    </div>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteItemModal">
      Eliminar producto
    </button>
  </div>
</form>

<button id="hiddenButtonForLoader" type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#staticBackdrop" hidden></button>

<!-- Modal -->
<div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog" aria-labelledby="deleteItemModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteItemModalLabel">Eliminar producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        Estás seguro que quieres eliminar el producto?
        <div class="alert alert-danger" role="alert">
          Atención, si estás copiando un producto y haces click en eliminar se eliminará el producto origen! Estamos
          trabajando en ello, gracias!
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancelar</button>
        <button type="button" class="btn btn-danger"
          onclick="window.location.href = '{{ url_for('admin.manage_item_page') }}?store_code_name={{ item_info['store_code_name'] }}&i={{ item_info['id'] }}&method=delete'">Si,
          eliminar producto</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Guardando producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p>
            Terminamos en un momento! 🎉
          </p>
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p>
          Estás on-fire, a por el siguiente! 🔥
        </p>
      </div>
    </div>
  </div>
</div>



<script>
  // Set state for all form fields
  var is_enabled = ('{{ item_info['is_enabled'] }}' == 'True' || '{{ item_info['is_enabled'] }}' == '');
  if (is_enabled) {
    document.getElementById('is_enabled').setAttribute('checked', '')
    document.getElementById('is_enabled_label').innerHTML = 'Producto activado';
    document.getElementById('is_enabled').setAttribute('value', '1')
  }
  else{
    document.getElementById('is_enabled').removeAttribute('checked')
    document.getElementById('is_enabled_label').innerHTML = 'Producto desactivado';
    document.getElementById('is_enabled').setAttribute('value', '0')
  }

  $('#is_enabled').click(function() {
  if ($(this).is(':checked')) {
    $(this).siblings('label').html('Producto activado');
    document.getElementById('is_enabled').setAttribute('value', '1')
  } else {
    $(this).siblings('label').html('Producto desactivado');
    document.getElementById('is_enabled').setAttribute('value', '0')
  }
  });

  function showLoader() {
    document.getElementById("hiddenButtonForLoader").click(); // Click on the checkbox
  }

  $.get("https://static.html.almarcat.com/mvp/configs/tags_ES.json", function (data) {
    $("#product_type_name").typeahead({
      source: function (query, process) {
        tags = [];
        map = {};

        $.each(data, function (i, tag) {
          map[tag.name] = tag;
          tags.push(tag.name);
        });

        process(tags);
      },
      updater: function (item) {
        document.getElementById('product_type_id').value = map[item].id;
        return item;
      }
    });
  }, 'json');
</script>