<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'components/basics/head.html' %}
</head>

<body>
  <!-- Fixed navbar -->
  {% include 'components/basics/nav.html' %}
  <section class="features-icons bg-white">
    <div class="container">
      <div class="row">

        {% if user_data %}
        {% include 'components/forms/manage_item.html' %}
        {% elif error_message %}
        <p>Error: {{ error_message }}</p>
        {% endif %}
        <!-- <div class="alert alert-warning mt-3" role="alert">
          Si quieres eliminar tu tienda envíanos un correo a info@almarcat.com
        </div> -->

      </div>
    </div>
  </section>

  <!-- Footer -->
  {% include 'components/basics/footer.html' %}

</body>

</html>